# Database — copia questo file in .env e inserisci le tue credenziali reali
DATABASE_URL="mysql://root:@localhost:3306/best_ride"
# Prima crea un Database con il nome best_ride, poi esegui il comando `npx prisma migrate dev` per creare le tabelle nel database